.proverb
{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
    font-weight: medium;
}

.story
{
    font-weight: medium;
}

.story2
{

    font-weight: bold;
    margin-top:0px;
    align-items: center;
    left:100px;
    justify-content: space-between;
    height: 2px;
}

.list-item
{
    height: 70px;
}
